body{
    padding: 0;
    margin: 0;
    height: 100% !important;
    background-color: #8f91a2;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #DCEDFF;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
}
  
.li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
.li a.active {
    background-color: #DCEDFF;
}
  
.li a:hover:not(.active) {
    background-color: #343f3e;
    color: white;
}

.headerDroite{
    margin-left:15%;
    padding:1px 16px;
    height:1000px;
}

.titreAccueil{
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.imgEquipe{
    width: 80%;
    border-radius: 10%;
}

.containerEquipe{
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;    
    margin-top: 10%;
}


.equipeGauche{
    width: 50%;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.equipeDroite{
    width: 50%;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.titreEQ{
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.containerForm{
    background-color: #505A5B;
    border-radius: 5px;
    padding: 20px;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #8F91A2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
  
input[type=text]:focus {
    border: 3px solid #343F3E;
}
  
textarea:focus{
  border: 3px solid #343F3E;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #8F91A2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    height: 150px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #DCEDFF;
    border: none;
    padding: 3% 30%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 15%;
    
}

label{
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    color: white;
}

::placeholder{
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;    
}

.equipeTitre{
    text-align: center;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #DCEDFF;
}