html{
    position: relative;
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    height: 100% !important;
    background-color: #505a5b;
}

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #DCEDFF;
    position: fixed;
    overflow: auto;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 8px rgba(0, 0, 0, 0.53);
}

.footer{
    height: 10%;
    left: 0;
    bottom: 0;
    background-color: #DCEDFF;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    text-align: center;
}

.socialMedia{
    width: 5%;
}

.divFooter1{
    width: 33.333%;

}

.divFooter2{
    width: 33.333%;
    display: flex;
    align-items: center;
}

.divFooter3{
    width: 33.333%;
    gap: 15%;
}

.li .a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
  
.li .a:hover:not(.active) {
    background-color: #343f3e;
    color: white;
}

.headerDroite{
    margin-left:15%;
    padding:1px 16px;
    height:fit-content;
    margin-bottom: 5%;
}

.imgEquipe{
    width: 80%;
    border-radius: 10%;
}

.containerEquipe{
    display: flex;
    flex-direction: row;
    margin-bottom: 10%;    
    margin-top: 10%;
}


.equipeGauche{
    width: 50%;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.equipeDroite{
    width: 50%;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.titreEQ{
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
    color: #DCEDFF;
}

.containerForm{
    background-color: #505A5B;
    border-radius: 5px;
    padding: 20px;
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #8F91A2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
  
input[type=text]:focus {
    border: 3px solid #343F3E;
}
  
textarea:focus{
  border: 3px solid #343F3E;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #8F91A2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    height: 150px;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #DCEDFF;
    border: none;
    padding: 3% 30%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 15%;
    
}

label{
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    color: white;
}

::placeholder{
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;    
}

.equipeTitre{
    text-align: center;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #DCEDFF;
}

.titreReal{
    text-align: center;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #343F3E;
}

.containerReal{
    display: flex;
    flex-direction: row; 
    margin-top: 5%;
}

.imgReal{
    width: 80%;
    border-radius: 5%;
}

.droiteReal{
    width: 50%;
    display: flex;
    flex-direction: column;    
    align-items: center;    
    justify-content: center;
}
.gaucheReal{
    width: 50%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}

.texteReal{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #DCEDFF;
    border: solid #343F3E 4px;
    border-radius: 10%;
    width: 40%;
    height: 30%;
    color: #343F3E;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .2);
}

.containALL {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.containerPresentation {
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: 1100px 600px;
    background-image: url("images/hard-hat-4274430.jpg");
    background-position: center;
    height: 20%;
}

.PresBTP {
    height: 20%;
    margin-top: 1%;
}

.txtOnPresBTP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    align-items: start;
    color: whitesmoke;
    margin-left: 5%;
    width: 300px;
    height: 200px;
}

.OPAK {
    background-color: rgba(0,0,0,0.5);
    width: 435px;
    height: 70px;
    padding: 2px;
    letter-spacing: 1px;
    color: whitesmoke;
    margin-top: 0;
    margin-bottom: 0;
}

.MoveToEndOfBox {
    letter-spacing: 1px;
    padding-bottom: 5px;
    margin-bottom: 0;
}

.containTheRest {
    height: 80%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
}

.RectBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1%;
}

.RectBoxWithIMG {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-left: 2%;
}

/* CAROUSEL */


/* CAROUSEL */


.txtText {
    height: 60px;
    width: 550px;
    text-align: center;
}
.resizeTxt {
    font-size: 14px;
}

.BoxtxtWithNoSpaceAround {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Boxtxt {
    display: flex;
    flex-direction: row;
}

.ChangeOnIT {
    font-style: italic;
}

.resizeIMGonBox {
    width: 20px;
    height: 20px;
}
.moveOnEndOfBox {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 20%;
}

.moveOnTopOfBox {
    display: flex;
    justify-content: center;
    height: 20%;
}

.ColumnOnBox {
    margin-top: 2%;
    background-color: #dcedff;
    padding: 2px;
    border-radius: 15px;
}

.ListOfSkillInBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}

.ListOfLOGO {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2px;
}

.IMGS {
    height: 300px;
    width: 300px;
}

.laPoutre{
    position:relative;
    padding:0;
    display:block;
    cursor:pointer;
    overflow:hidden;
}
.bmk {
    opacity:0;
    font-size: 40px;
    position:absolute;
    top:0;
    left:0;
    color:#343F3E;
    background-color:rgba(200,200,200,0.5);    
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    width:80%;
    height: 100%;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align:center;
}

.laPoutre .bmk:hover { opacity:1; } 

.laPoutre .bmk .textePoutre {
    height:0;
    opacity:1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}

.laPoutre .bmk:hover .textePoutre {
    opacity:1;
    transform: translateY(150px);
    -webkit-transform: translateY(150px);
}
.titreAccueil{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.titreAccueil h1{
    display: flex;
    align-self: center;
    font-size: 50px;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    color: #94b0da;
}

.columnBesideLOGO {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resizeTxtBigger {
    font-size: 50px;
    margin-bottom: 0;
    color: #DCEDFF;
    text-shadow: 15px 15px 8px rgba(0, 0, 0, 0.53);
}

.colorWhiteWithShadowless {
    color: whitesmoke;
    text-shadow: 15px 15px 8px rgba(0, 0, 0, 0.53);
}

.RectBox2 {
    height: 50vh;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
    letter-spacing: 1px;
    color: whitesmoke;
}

.rectBoxALINGinEND {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
}
.rectBoxALINGinEND button {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    background-color: #DCEDFF;
}

.rectBoxALINGinEND a {
    text-decoration: none;
    color: black;
}

.footerDePaque{
    opacity: 0%;
}
